<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 style="color:rgb(0, 68, 255)">Hello World</h1>
<img alt="Морган Фрімен", src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA6BdF1B59JCNrfPjGr44qCyRutNv7Fs7WaA&s">
<h4>Мо́рган Фрі́мен (англ. Morgan Freeman; нар. 1 червня 1937, Мемфіс, Теннессі) — американський актор, кінорежисер.
    Фрімен отримав премію «Оскар» 2005 року за роль у драмі «Крихітка на мільйон доларів».
    Крім виграної статуетки, був номінований ще чотири рази — за ролі у фільмах «Вуличний хлопець», «Водій міс Дейзі»,
    «Втеча з Шоушенка», «Непідкорений».</h5>
</body>
</html>
